/* html / body */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 365px;
}


/* general typography */
a {
    text-decoration: none;
    color: black;
}

a:hover,
a:focus {
    text-decoration: underline;
}


/* layout */

/* logo */
.site-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 0.84rem;
    font-weight: 700;
}


/* nav */
.nav-links {
    display: flex;
    gap: 1em;
    list-style: none;
    font-size: 0.75rem;
    text-transform: uppercase;
}


/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}


/* hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(images/hero-img.jpg);
    background-size: cover;
    background-position: 50% 90%;
    height: 18em;
    color: white;
    box-sizing: border-box;
    padding: 1em;
}

.hero-date {
    font-size: 0.75rem;
}

.hero-title {
    font-size: 2rem;
    margin: 0;
}

.hero-title a {
    color: white;
}

.hero-text {
    margin: 0
}


/* blog */
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    padding: 0.8em;
    max-width: 350px;
}

.blog-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.blog-img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 14em;
    margin-bottom: 1em;
}

.blog-date,
.blog-title,
.blog-text {
    margin: 0;
}

.blog-date {
    font-size: 0.875rem;
}

.blog-title {
    color: #141414;
}

.blog-text {
    font-size: 1rem;
    color: #505050;

}


/* view more */
.view-more-container {
    text-align: center;
    margin-top: 0.5em;
    padding-bottom: 2.5em;
}

.view-more-container a {
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 700;
}


/* footer */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;
    gap: 0.2em;
    padding: 2.5em 0;
    align-items: center;
    background-color: #202020;
    color: white;
}

.footer-title {
    margin: 0;
}

.footer-text {
    margin: 0;
}