html,
body {
    margin: 0;
    padding: 0;
}

/* typography */

body {
    font-family: 'Source Sans Pro', sans-serif;
    
}

.site-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 0.84rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 1em;
    list-style: none;
    font-size: 0.75rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

/* structure */

body {
    min-width: 365px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(images/hero-img.jpg);
    background-size: cover;
    background-position: 50% 90%;
    height: 293px;
    color: white;
    box-sizing: border-box;
    padding: 1em;
}

.hero-date {
    font-size: 0.75em;
}

.hero-title {
    font-size: 2em;
    margin: 0;
}

.hero-text {
    margin: 0
}