html,
body {
    margin: 0;
    padding: 0;
}

/* typography */

h1 {
    font-size: 1em;
}

.nav-links {
    display: flex;
    gap: 1em;
    list-style: none;
    font-size: 1em;
    text-transform: uppercase;
}

/* structure */

body {
    min-width: 365px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}